.panel{
  margin-bottom: 21px;
  background-color: #fff;
  border: 1px solid transparent;
  // border-color: #cfdbe2;
  border-color: #eee;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.heading{
  background-color: #fafafa;
  // border-color: #cfdbe2;
  border-color: #eee;
  padding: 10px 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.body{
  padding: 15px;
}
