// @import "../../../../assets/styles/variables.scss";
// @import "../../../../assets/styles/utils/px2rem";
.root{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logobg {
  color:blue;
  background: url('/images/header.png') no-repeat;
  // background: var(--saber);
  height: px2rem(300);
  background-size: cover;
  // backgroud-size: contain;
  text-align: center;
  h3{
    // font-size: 44px;
    @include px2px('font-size', 48) ;
    // @include border-radius(48px);
    color: #fff;
    line-height: 1.5;
  }
}
.logo{
  background: url('/images/logo.png') no-repeat;
  // width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  height: px2rem(200);
  width: px2rem(200);

  background-size: contain;
}
.form-warper{
  flex: 1;
  padding: px2rem(15)
}
.text{
  font-size: 30px;
}
.button{
  height: px2rem(80);
  margin-top: px2rem(30);
  margin-bottom: px2rem(30);
}
.linkwarper{
  display: inline-block;
  width: 50%;
  text-align: left;
  @include px2px(font-size, 36);
  line-height: 1.5;
  position: relative;
  a{
    line-height: 1.5;
    padding: px2rem(10);
    color: #F48FB1;
    position: relative;
    display: inline-block;
  }
}
.linkright{
  composes: linkwarper;
  text-align: right;
}
